<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: core(#{login.title})}"></th:block>
</head>

<body class="d-flex flex-column">
    <div class="page page-center">
        <div class="container container-tight py-4">
            <div class="card card-md">
                <div class="card-body">
                    <h2 class="h2 text-center mb-4" th:text="#{login.welcome}">Welcome to</h2>
                    
                    <div class="text-center mb-4">
                        <img th:src="@{/img/logo.png}" width="150" alt="Logo" class="mx-auto">
                    </div>
                    
                    <!-- Error Message -->
                    <div th:if="${param.error}" class="alert alert-danger" th:text="#{login.error}">
                        Username atau password salah.
                    </div>
                    <!-- Logout Message -->
                    <div th:if="${param.logout}" class="alert alert-success" th:text="#{login.logout.success}">
                        Anda telah berhasil logout.
                    </div>

                    <form th:action="@{/login}" method="post" autocomplete="off">
                        <div class="mb-3">
                            <label class="form-label" th:text="#{login.username}">Username</label>
                            <input type="text" name="username" class="form-control" th:placeholder="#{login.username.placeholder}" required autocomplete="off">
                        </div>
                        <div class="mb-2">
                            <label class="form-label" th:text="#{login.password}">Password</label>
                            <input type="password" name="password" class="form-control" th:placeholder="#{login.password.placeholder}" required autocomplete="off">
                        </div>
                        <div class="form-footer">
                            <button type="submit" class="btn btn-primary w-100" th:text="#{login.signin}">Sign in</button>
                        </div>
                    </form>

                    <div class="hr-text" th:text="#{label.search}">or</div>
                    <div class="text-center">
                        <a th:href="@{/}" class="btn btn-link w-100" th:text="#{login.back.home}">
                            Kembali ke Beranda
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tabler Core JS (CDN Latest) -->
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@latest/dist/js/tabler.min.js" defer></script>
</body>
</html>
