<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head
    th:replace="~{layout/master :: head(${roleTypeRequest.id == null ? #messages.msg('label.party-role-type.add') : #messages.msg('label.party-role-type.edit')})}">
</head>

<body th:replace="~{layout/master :: layout(~{:: .prt-form-content})}">
    <div class="prt-form-content">
        <div class="page-header d-print-none">
            <div class="container-xl">
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <h2 class="page-title"
                            th:text="${roleTypeRequest.id == null ? #messages.msg('label.party-role-type.add') : #messages.msg('label.party-role-type.edit')}">
                            Tambah Tipe Peran
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-body">
            <div class="container-xl">
                <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible mb-3" role="alert">
                    <div class="d-flex">
                        <div><i class="ti ti-alert-circle icon alert-icon"></i></div>
                        <div th:text="${errorMessage}"></div>
                    </div>
                    <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
                </div>

                <form
                    th:action="${roleTypeRequest.id == null ? '/master/party-role-types/create' : '/master/party-role-types/edit/' + roleTypeRequest.id}"
                    th:object="${roleTypeRequest}" method="post">

                    <div class="card" style="max-width: 540px;">
                        <div class="card-header">
                            <h3 class="card-title"
                                th:text="${roleTypeRequest.id == null ? #messages.msg('label.party-role-type.add') : #messages.msg('label.party-role-type.edit')}">
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="mb-3" th:if="${roleTypeRequest.id != null}">
                                <label class="form-label" th:text="#{label.party-role-type.code}">Kode</label>
                                <input type="text" th:field="*{code}" class="form-control bg-light" readonly>
                            </div>
                            <div class="mb-3">
                                <label class="form-label required" th:text="#{label.party-role-type.name}">Nama</label>
                                <input type="text" th:field="*{name}" class="form-control"
                                    th:placeholder="#{placeholder.party-role-type.name}">
                            </div>

                            <!-- Record Info (Edit Mode only) -->
                            <div th:if="${auditInfo != null and auditInfo.id != null}" th:replace="~{fragments/audit-info :: audit-info(${auditInfo})}"></div>
                        </div>
                        <div class="card-footer d-flex">
                            <a th:href="@{/master/party-role-types}" class="btn btn-link"
                                th:text="#{label.cancel}">Batal</a>
                            <button type="submit" class="btn btn-primary ms-auto">
                                <i class="ti ti-device-floppy"></i>
                                <span th:text="#{label.save}">Simpan</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>