{
    "configurations": [
        {
            "type": "java",
            "name": "Spring Boot-SolusiProgramErpApplication<solusi-program-erp>",
            "request": "launch",
            "cwd": "${workspaceFolder}",
            "mainClass": "com.solusi.erp.SolusiProgramErpApplication",
            "projectName": "solusi-program-erp",
            "args": "",
            "envFile": "${workspaceFolder}/.env",
            "preLaunchTask": "mvn-compile"
        },
        {
            "type": "java",
            "name": "Debug (JRebel)",
            "request": "launch",
            "cwd": "${workspaceFolder}",
            "mainClass": "com.solusi.erp.SolusiProgramErpApplication",
            "projectName": "solusi-program-erp",
            "args": "",
            "envFile": "${workspaceFolder}/.env",
            "vmArgs": "-agentpath:C:/PATH_TO_YOUR_JREBEL/lib/jrebel64.dll -Drebel.disable_update=true",
            "preLaunchTask": "mvn-compile"
        }
    ]
}